Class Exercise
# 1. DECLARE A LIST WITH THE NAMES OF YOUR CLASSMATES. NAME THE LIST AS my_class
​
# 2. PRINT OUT THE LENGTH OF THAT LIST
​
# 3. PRINT THE 3RD NAME ON THE LIST
​
# 4. DELETE THE FIRST NAME ON THE LIST. SAVE THE  DELETED NAME AS deleted_classmate
​
# 5. RE-ADD THE NAME YOU DELETED (deleted_classmate) TO THE END OF THE LIST
​

In [46]:
my_class = ["Ali", "Cherry","David","Jeff","Wong"]

In [47]:
num_of_student = len(my_class)
print("We have",num_of_student," studnet in my class")

We have 5  studnet in my class

In [48]:
print(my_class[2])

David

In [49]:
deleted_classmate = my_class.pop(0)

print(deleted_classmate)

Ali

In [50]:
my_class.append(deleted_classmate)

In [51]:
print(my_class)

['Cherry', 'David', 'Jeff', 'Wong', 'Ali']