In [2]:
import pandas as pd
%matplotlib inline

In [3]:
print(f'I am using {pd.__name__} \
Version: {pd.__version__}.\n\
It is installed at: {pd.__path__}')

I am using pandas Version: 1.4.2.
It is installed at: ['C:\\Users\\xiaoz\\anaconda3\\lib\\site-packages\\pandas']

In [4]:
prod = pd.read_csv('../data/Production.Product.csv', sep='\t')

Print the first 4 rows of the whole DataFrame.

In [5]:
prod.head(4)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000

How many rows are in the dataframe? Return the answer as an int.

In [6]:
prod.shape[0]

504

How many columns? Retrun the answer as an int.

In [11]:
prod.shape[1]

25

How many different product lines are there?

In [12]:
prod['ProductLine'].nunique()

4

What are the values of these product lines?

In [13]:
prod['ProductLine'].unique()

array([nan, 'R ', 'S ', 'M ', 'T '], dtype=object)

Do the number of values for the product lines match the number you have using .nunique()? Why or why not?

In [ ]:
#No, there was included 'nan' inside of it
prod['ProductLine'].nunique(dropna=False)

Take the output from your previous answer (using .unique()). Select the label corresponding to the Road product line using list indexing notation. How many characters are in this string?

Do you notice anything odd about this?

How many products are there for the Road product line? Don't forget what you just worked on above! Return your answer as an int.

In [20]:
prod[prod['ProductLine'] == 'R '].count()

ProductID                100
Name                     100
ProductNumber            100
MakeFlag                 100
FinishedGoodsFlag        100
Color                     87
SafetyStockLevel         100
ReorderPoint             100
StandardCost             100
ListPrice                100
Size                      78
SizeUnitMeasureCode       76
WeightUnitMeasureCode     85
Weight                    85
DaysToManufacture        100
ProductLine              100
Class                     93
Style                     78
ProductSubcategoryID     100
ProductModelID           100
SellStartDate            100
SellEndDate               45
DiscontinuedDate           0
rowguid                  100
ModifiedDate             100
dtype: int64

In [21]:
prod[prod['ProductLine'] == 'R '].shape[0]

100

How many products are there in the Women's Mountain category? Return your answer as an int. Hint: Use the data dictionary above!

In [22]:
prod[(prod['ProductLine'] == 'M ') & (prod['Style'] == 'W ')]

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
371,867,"Women's Mountain Shorts, S",SH-W890-S,0,1,Black,4,3,26.1763,69.99,...,M,NaN,W,22.0,37.0,2013-05-30 00:00:00,NaN,NaN,{22616FD2-B99F-4F7D-ACF6-33DFF66D42D2},2014-02-08 10:01:36.827000000
372,868,"Women's Mountain Shorts, M",SH-W890-M,0,1,Black,4,3,26.1763,69.99,...,M,NaN,W,22.0,37.0,2013-05-30 00:00:00,NaN,NaN,{968E3610-E583-42E8-8AB6-484A799B1774},2014-02-08 10:01:36.827000000
373,869,"Women's Mountain Shorts, L",SH-W890-L,0,1,Black,4,3,26.1763,69.99,...,M,NaN,W,22.0,37.0,2013-05-30 00:00:00,NaN,NaN,{1A66B244-5CA0-4153-B539-AE048D14FAEC},2014-02-08 10:01:36.827000000
408,904,"ML Mountain Frame-W - Silver, 40",FR-M63S-40,1,1,Silver,500,375,199.3757,364.09,...,M,M,W,12.0,15.0,2013-05-30 00:00:00,NaN,NaN,{A7DDE43E-F7D5-4075-A0C1-C866AD7AA154},2014-02-08 10:01:36.827000000
409,905,"ML Mountain Frame-W - Silver, 42",FR-M63S-42,1,1,Silver,500,375,199.3757,364.09,...,M,M,W,12.0,15.0,2013-05-30 00:00:00,NaN,NaN,{D4A2FCAD-1E63-4EBD-863C-5A7C48D5B8D9},2014-02-08 10:01:36.827000000
410,906,"ML Mountain Frame-W - Silver, 46",FR-M63S-46,1,1,Silver,500,375,199.3757,364.09,...,M,M,W,12.0,15.0,2013-05-30 00:00:00,NaN,NaN,{82025C63-7B28-412D-92C1-408E0E6AE646},2014-02-08 10:01:36.827000000
446,942,"ML Mountain Frame-W - Silver, 38",FR-M63S-38,1,1,Silver,500,375,199.3757,364.09,...,M,M,W,12.0,15.0,2013-05-30 00:00:00,NaN,NaN,{BA3646B0-1487-426E-AB4E-57D42E6F9233},2014-02-08 10:01:36.827000000
484,980,"Mountain-400-W Silver, 38",BK-M38S-38,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{7A927632-99A4-4F24-ADCE-0062D2D113D9},2014-02-08 10:01:36.827000000
485,981,"Mountain-400-W Silver, 40",BK-M38S-40,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{0A72791C-A984-4733-AE4E-2B4373CFD7CD},2014-02-08 10:01:36.827000000
486,982,"Mountain-400-W Silver, 42",BK-M38S-42,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{4EA4FE06-AAEA-42D4-A9D9-69F6A9A4A042},2014-02-08 10:01:36.827000000
487,983,"Mountain-400-W Silver, 46",BK-M38S-46,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{0B0C8EE4-FF2D-438E-9CAC-464783B86191},2014-02-08 10:01:36.827000000

In [23]:
prod[(prod['ProductLine'] == 'M ') & (prod['Style'] == 'W ')].shape[0]

11